# Node modules
node_modules/

# Environment variables file
.env

# Logs
*.log

# Dependency directory for yarn (if you use yarn)
yarn.lock

# MacOS specific files
.DS_Store

# IDE configuration files (e.g., VSCode)
.vscode/

# Build files
/dist/

# Jest coverage
coverage/